
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Colore di sfondo per il resto della pagina */
    margin: 0;
}


.purchase-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f50273; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.purchase-button:hover {
    background-color: #970f90;
}

.container {
    background-color: #ffffff; /* Sfondo bianco per il contenitore */
    width: 80vw; /* Imposta la larghezza al 80% della finestra */
    max-width: 1000px; /* Imposta una larghezza massima */
    height: 80vh; /* Imposta l'altezza al 80% della finestra */
    max-height: 800px; /* Imposta un'altezza massima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra */
    border-radius: 8px; /* Aggiungi angoli arrotondati */
    padding: 20px;
    overflow-y: auto; /* Aggiungi uno scorrimento verticale se necessario */
}

.icon-container {
    text-align: center;
    margin-top: 20px;
}

.purchase-icon {
    max-width: 100px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.navbar #home {
    color: #000000; /* Colore nero per il link home */
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
    font-family: "Cinzel", sans-serif;
}

/* Stili per la lista dei carrello */
#books-carrello-list {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Spaziatura tra gli elementi */
    
}

/* Stile per il titolo del libro nella lista dei carrello */
#books-carrello-list .book-title {
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Colore del testo nero */
    /* Altri stili desiderati */
}


/*freccia home*/
#back-to-books {
    font-size: 24px; /* Dimensione della freccia */
    color: black; /* Colore della freccia */
    text-decoration: none; /* Rimuovi la sottolineatura */
    margin-right: 20px; /* Spazio tra la freccia e il titolo */
    padding: 10px; /* Aggiungi padding per un'area di clic maggiore */
    position: absolute; /* Posiziona la freccia in modo assoluto */
    top: 10px; /* Distanza dal bordo superiore */
    left: 10px; /* Distanza dal bordo sinistro */
}

#back-to-books:hover {
    color: #20ff02ad; /* Cambia colore al passaggio del mouse */
    text-decoration: none; /* Rimuovi la sottolineatura */
}
